<h1>Connexion</h1>
<h2>Veuillez entrer le bon mot de passe ou email</h2>
<%= form_tag sessions_path, method: "post" do %>

      <%= label_tag 'email' %>
      <%= text_field_tag 'email', "", class: 'form-control'  %>
      <br /> <br />
      <%= label_tag 'Mot de passe' %>
      <%= text_field_tag 'password', "", class: 'form-control' %>
      <br /> <br />
      <%= submit_tag "Se connecter" %>

<% end %>